<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="%category.name"
            class="com.zombiesrus5.plugin.sose.views.PlayerView"
            id="com.zombiesrus5.plugin.sose.views.PlayerView"
            name="%view.name"
            restorable="true">
      </view>
      <category
            id="com.zombiesrus5.plugin.sose"
            name="%category.name">
      </category>
      <view
            category="com.zombiesrus5.plugin.sose"
            class="com.zombiesrus5.plugin.sose.views.EntityDefinitionView"
            icon="icons/entity.gif"
            id="com.zombiesrus5.plugin.sose.views.EntityDefinitionView"
            name="%view.name.0">
      </view>
<!--      <view
            category="com.zombiesrus5.plugin.sose"
            class="com.zombiesrus5.plugin.sose.views.EntitySummaryView"
            icon="icons/entity.gif"
            id="com.zombiesrus5.plugin.sose.views.EntitySummaryView"
            name="%view.name.0">
      </view>
      <view
            category="com.zombiesrus5.plugin.sose"
            class="com.zombiesrus5.plugin.sose.views.EntitySummary"
            icon="icons/sample.gif"
            id="com.zombiesrus5.plugin.sose.views.EntitySummary"
            name="EntitySummary">
      </view>-->
   </extension>
   <extension
         id="com.zombiesrus5.plugin.sose.entityBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.zombiesrus5.plugin.sose.builder.EntityBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.zombiesrus5.plugin.sose.entityNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.zombiesrus5.plugin.sose.builder.EntityNature">
         </run>
      </runtime>
      <builder
            id="com.zombiesrus5.plugin.sose.entityBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.zombiesrus5.plugin.sose.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.zombiesrus5.plugin.sose.builder.ToggleNatureAction"
               definitionId="com.zombiesrus5.plugin.sose.commands.addRemoveEntityValidator"
               enablesFor="+"
               id="com.zombiesrus5.plugin.sose.addRemoveNatureAction"
               label="Remove Entity Validator"
               menubarPath="additions">
            <enablement>
               <objectState
                     name="nature"
                     value="com.zombiesrus5.plugin.sose.entityNature">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.builder.ToggleNatureAction"
               definitionId="com.zombiesrus5.plugin.sose.commands.addRemoveEntityValidator"
               enablesFor="+"
               id="com.zombiesrus5.plugin.sose.addRemoveNatureAction"
               label="Add Entity Validator"
               menubarPath="additions">
            <enablement>
               <not>
                  <objectState
                        name="nature"
                        value="com.zombiesrus5.plugin.sose.entityNature">
                  </objectState>
               </not>
            </enablement>
         </action>
      </objectContribution>
      <viewerContribution
      		id="com.zombiesrus5.plugin.sose.contribution.entityEditor"
            targetID="com.zombiesrus5.plugin.sose.editors.EntityEditor.context">
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.OpenDeclaration"
               definitionId="com.zombiesrus5.plugin.sose.popup.commands.OpenEntity"
               icon="icons/entity.gif"
               id="com.zombiesrus5.plugin.sose.popup.actions.OpenDeclaration"
               label="Open Entity"
               menubarPath="additions">
          </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="com.zombiesrus5.plugin.sose.contribution.EntityEditor"
            nameFilter="*"
            objectClass="com.zombiesrus5.plugin.sose.editors.EntityEditor">
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.OpenDeclaration"
               definitionId="com.zombiesrus5.plugin.sose.popup.commands.OpenEntity"
               icon="icons/entity.gif"
               id="SosePlugin.action1"
               label="Open Declaration"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="com.zombiesrus5.plugin.sose.popup.actions.CompareReference">
         <menu
               id="com.zombiesrus5.plugin.sose.menu1"
               label="Sins"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compare Reference"
               tooltip="Compares this file with a matching Reference File."
               class="com.zombiesrus5.plugin.sose.popup.actions.CompareReference"
               menubarPath="compareWithMenu/compareWithGroup"
               enablesFor="1"
               id="compareWithReferencence">
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.NormalizeResearchCosts"
               enablesFor="1"
               id="normalizeResearchEditor"
               label="Normalize Research Costs"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1"
               tooltip="Compares this file with a matching Reference File.">
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.ConvertDataToText"
               enablesFor="*"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Convert Data (TXT)"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.ConvertDataToBinary"
               enablesFor="*"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Convert Data (BIN)"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.FindReferencesAction"
               enablesFor="1"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Find References"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
      </objectContribution>
<!--      <objectContribution
            id="com.zombiesrus5.plugin.sose.contribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="com.zombiesrus5.plugin.sose.menu1"
               label="Sins"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.ConvertDataToText"
               enablesFor="*"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Convert Data (TXT)"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.ConvertDataToBinary"
               enablesFor="*"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Convert Data (BIN)"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
      </objectContribution>
-->
      <objectContribution
            adaptable="true"
            id="com.zombiesrus5.plugin.sose.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="com.zombiesrus5.plugin.sose.menu1"
               label="Sins"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.ConvertDataToText"
               enablesFor="1"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Convert Data (TXT)"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.ConvertDataToBinary"
               enablesFor="1"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Convert Data (BIN)"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.NormalizeResearchCosts"
               enablesFor="1"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Normalize Research Costs"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.ManifestGenerator"
               enablesFor="1"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Generate Entity Manifest"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
         <action
               class="com.zombiesrus5.plugin.sose.popup.actions.BrushManifestGenerator"
               enablesFor="1"
               id="com.zombiesrus5.plugin.sose.newAction"
               label="Generate Brush Manifest"
               menubarPath="com.zombiesrus5.plugin.sose.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.resources.refreshProviders">
      <refreshProvider
            class="soseplugin.RefreshProvider1"
            name="%refreshProvider.name">
      </refreshProvider>
   </extension>
   <extension
         id="com.zombiesrus5.plugin.sose.entityProblem"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="fx"
            id="com.zombiesrus5.plugin.sose.editors.FXPageEditor"
            name="FX Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="str"
            icon="icons/entity.gif"
            id="com.zombiesrus5.plugin.sose.editors.StringInfoPageEditor"
            name="StringInfo Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.zombiesrus5.plugin.sose.editors.EntityEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="particle"
            icon="icons/file_particle.png"
            id="com.zombiesrus5.plugin.sose.editors.ParticleEditor"
            name="%editor.name">
      </editor>
      <editor
            class="com.zombiesrus5.plugin.sose.editors.EntityEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="galaxy"
            icon="icons/file_galaxy.png"
            id="com.zombiesrus5.plugin.sose.editors.GalaxyScenarioEditor"
            name="%editor.name">
      </editor>
      <editor
            class="com.zombiesrus5.plugin.sose.editors.EntityEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="manifest,brushanimations,color,window,brushlayout,randomeventdefs,galaxyScenarioDef,sounddata,brushes,explosiondata,gameeventdata,planetItemTypeCount,groups,AchievementsDef,asteroidDef,coronadata,renderingDef,exhaustTrailDef,explosiondata,data,musicdata,lensflaredata,postprocessdata,skyboxbackdropdata,skyboxstarsdata,starscapedata,screen,playerPictures,playerThemes,playerPicturesDef,playerPictures,playerThemes,playerThemesDef"
            icon="icons/entity.gif"
            id="com.zombiesrus5.plugin.sose.editors.SinsGeneralEditor"
            name="%editor.name">
      </editor>
      <editor
            class="com.zombiesrus5.plugin.sose.editors.EntityEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="constants"
            icon="icons/entity.gif"
            id="com.zombiesrus5.plugin.sose.editors.ConstantsEditor"
            name="%editor.name">
      </editor>
      <editor
            class="com.zombiesrus5.plugin.sose.editors.EntityEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="entity"
            icon="icons/diplomacy3.ico"
            id="com.zombiesrus5.plugin.sose.editors.EntityEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.zombiesrus5.plugin.sose.preferences.SosePreferences"
            id="com.zombiesrus5.plugin.sose.preferences.SosePreferences"
            name="%page.name">
      </page>
      <page
            class="com.zombiesrus5.plugin.sose.preferences.EditorPreferences"
            id="com.zombiesrus5.plugin.sose.preferences.EditorPreferences"
            name="Editor Preferences"
            category="com.zombiesrus5.plugin.sose.preferences.SosePreferences">
      </page>
      <page
            class="com.zombiesrus5.plugin.sose.preferences.EditorColorPreferences"
            id="com.zombiesrus5.plugin.sose.preferences.EditorColorPreferences"
            name="Editor Color Preferences"
         	category="com.zombiesrus5.plugin.sose.preferences.EditorPreferences">
      </page>
      <page
            category="com.zombiesrus5.plugin.sose.preferences.SosePreferences"
            class="com.zombiesrus5.plugin.sose.preferences.TierCostPreferences"
            id="com.zombiesrus5.plugin.sose.preferences.TierCostPreferences"
            name="Tier Cost Preferences">
      </page>
      <page
            category="com.zombiesrus5.plugin.sose.preferences.SosePreferences"
            class="com.zombiesrus5.plugin.sose.preferences.TierPerLevelCostPreferences"
            id="com.zombiesrus5.plugin.sose.preferences.TierPerLevelCostPreferences"
            name="Tier Per Level Cost Preferences">
      </page>
      <page
            category="com.zombiesrus5.plugin.sose.preferences.SosePreferences"
            class="com.zombiesrus5.plugin.sose.preferences.TierUpgradeTimePreferences"
            id="com.zombiesrus5.plugin.sose.preferences.TierUpgradeTimePreferences"
            name="Tier Upgrade Time Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.zombiesrus5.plugin.sose.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <template
            autoinsert="true"
            contextTypeId="com.zombiesrus5.plugin.sose.editors.templates.EntityContextType"
            id="com.zombiesrus5.plugin.sose.editors.template.EntityTemplate"
            name="%template.name">
         <pattern>
            pattern body text
         </pattern>
      </template>
      <contextType
            class="com.zombiesrus5.plugin.sose.editors.templates.EntityContextType"
            id="com.zombiesrus5.plugin.sose.editors.templates.EntityContextType"
            name="%contextType.name">
      </contextType>
      <resolver
            class="com.zombiesrus5.plugin.sose.editors.templates.EntityTypeResolver"
            contextTypeId="com.zombiesrus5.plugin.sose.editors.templates.EntityContextType"
            name="%resolver.name"
            type="com.zombiesrus5.plugin.sose.editors.templates.EntityTypeResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.zombiesrus5.plugin.sose.views.EntityDefinitionView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
<!--      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.zombiesrus5.plugin.sose.views.EntitySummaryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.zombiesrus5.plugin.sose.navigator.CommonNavigator"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
-->
<!--      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.zombiesrus5.plugin.sose.views.EntitySummary"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension> -->
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.zombiesrus5.plugin.sose.properties.SoasePropertyPage"
            id="com.zombiesrus5.plugin.sose.properties.SoasePropertyPage"
            name="Sins Property Page"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.zombiesrus5.plugin.sose.properties.SoasePropertyPage"
            id="com.zombiesrus5.plugin.sose.properties.SoasePropertyPage"
            name="Sins Property Page"
            nameFilter="*">
         	<enabledWhen>
			   <adapt type="org.eclipse.core.resources.IProject">
			        <test property="org.eclipse.core.resources.projectNature" 
			              value="com.zombiesrus5.plugin.sose.entityNature"/>
			    </adapt>         
			</enabledWhen>
      </page>
<!--      <page
            class="com.zombiesrus5.plugin.sose.properties.SoasePropertyPage"
            id="com.zombiesrus5.plugin.sose.properties.SoasePropertyPage"
            name="Sins Property Page"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.jdt.core.IJavaProject">
            </instanceof>
         </enabledWhen>
      </page>
-->
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.zombiesrus5.plugin.sose.perspectives.SosePerspective"
            icon="icons/entity.gif"
            id="com.zombiesrus5.plugin.sose.perspectives.SosePerspective"
            name="Sins of a Solar Empire">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.zombiesrus5.plugin.sose.popup.commands.OpenEntity"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="com.zombiesrus5.plugin.sose.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.zombiesrus5.plugin.sose.commands.addRemoveEntityValidator"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.zombiesrus5.plugin.sose.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.zombiesrus5.plugin.sose.commands.category"
            id="com.zombiesrus5.plugin.sose.commands.sampleCommand"
            name="Test Command">
      </command>
      <command
            categoryId="com.zombiesrus5.plugin.sose.commands.category"
            description="Opens the highlighted Entity File"
            id="com.zombiesrus5.plugin.sose.popup.commands.OpenEntity"
            name="Open Entity">
      </command>
      <command
            categoryId="com.zombiesrus5.plugin.sose.commands.category"
            id="com.zombiesrus5.plugin.sose.commands.addRemoveEntityValidator"
            name="Add/Remove Entity Validator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.zombiesrus5.plugin.sose.handlers.SinsHandler"
            commandId="com.zombiesrus5.plugin.sose.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.zombiesrus5.plugin.sose.menus.sampleMenu"
               label="SOASE"
               mnemonic="S">
            <command
                  commandId="com.zombiesrus5.plugin.sose.commands.sampleCommand"
                  id="com.zombiesrus5.plugin.sose.menus.sampleCommand"
                  label="Rebellion Mods (MODDB)"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.zombiesrus5.plugin.sose.toolbars.sampleToolbar">
            <command
                  commandId="com.zombiesrus5.plugin.sose.commands.sampleCommand"
                  icon="icons/mod_moddb.png"
                  id="com.zombiesrus5.plugin.sose.toolbars.sampleCommand"
                  tooltip="Moddb">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.zombiesrus5.plugin.sose.editors.EntityEditor.scope"
            name="Editing Sins Source">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.zombiesrus5.plugin.sose"
            name="SoaSE Wizards">
      </category>
      <wizard
            category="com.zombiesrus5.plugin.sose"
            class="com.zombiesrus5.plugin.sose.wizards.NewAbilityWizard"
            icon="icons/sample.gif"
            id="com.zombiesrus5.plugin.sose.wizards.NewAbilityWizard"
            name="New Ability Wizard File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.zombiesrus5.plugin.sose.editors.templates.SinsTemplateContextType1"
            id="com.zombiesrus5.plugin.sose.editors.templates.sins">
      </contextType>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/sample.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="com.zombiesrus5.plugin.sose.entityProblem"
         class="com.zombiesrus5.plugin.sose.quickfix.QuickFixer">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="com.zombiesrus5.plugin.sose.editors.quickFixProcessor.SinsQuickFixProcessor"
            id="SinsQuickFixProcessor"
            name="SinsQuickFixProcessor">
 	   <handledMarkerTypes>
	      <markerType id="com.zombiesrus5.plugin.sose.entityProblem"/>
	   </handledMarkerTypes>
   <enablement>
      <with variable="projectNatures">
         <iterate operator="or">
            <equals value="com.zombiesrus5.plugin.sose.entityNature"/>
         </iterate>
      </with>
   </enablement>
      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            default-charset="UTF-8"
            file-extensions="str"
            id="StringInfo"
            name="StringInfo"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/entity.gif"
            id="IDI_IMAGE_ENTITY"
            natureId="com.zombiesrus5.plugin.sose.entityNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/decorator_rebellion.gif"
            id="com.zombiesrus5.plugin.sose.decorator"
            label="Resource Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
               <objectState
                     name="nature"
                     value="com.zombiesrus5.plugin.sose.entityNature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
   </extension>
<!-- save for later - adds a custom welcome page 
    <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/sample.gif"
            id="org.eclipse.intro.minimal"
            label="Minimal Intro"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/introContent.xml"
            id="org.eclipse.intro.minimal.config"
            introId="org.eclipse.intro.minimal">
         <presentation
               home-page-id="root" standby-page-id="standby">
            <implementation
                  kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>

<extension
		point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.intro.minimal"
            productId="org.eclipse.sdk.ide">
      </introProductBinding>
    </extension>
-->
</plugin>
